#!/bin/bash

# set the last minute date time
LMDT=$(date -u -d '1 days ago' '+%Y-%m-%dT%H:%M')
LMD=$(echo $LMDT |cut -d"T" -f1)

MASINSTANCE="masinst1"
LOGDIR="/var/log/rsyslog/${MASINSTANCE}"
ARCHIVELOG_DIR="/var/log/rsyslog/${MASINSTANCE}/archive"

if [ ! -d "$ARCHIVELOG_DIR" ]; then
    mkdir -p "$ARCHIVELOG_DIR"
    chown mhc:root "$ARCHIVELOG_DIR"
    chmod 775 "$ARCHIVELOG_DIR"
fi

gzip ${LOGDIR}/*-${LMD}.log
mv ${LOGDIR}/*.gz ${ARCHIVELOG_DIR} 2>/dev/null