#!/bin/bash

# set the last minute date time
LMDT=$(date -u -d '1 days ago' '+%Y-%m-%dT%H:%M')
LMD=$(echo $LMDT |cut -d"T" -f1)

MASINSTANCE="masinst1"
ARCHIVELOG_DIR="/var/log/rsyslog/${MASINSTANCE}/archive"

if [ ! -d "$ARCHIVELOG_DIR" ]; then
    mkdir -p "$ARCHIVELOG_DIR"
fi

gzip "*-${LMD}.log" 2>/dev/null
mv *.gz ARCHIVELOG_DIR 2>/dev/null