#!/bin/bash

# set the last minute date time
LMDT=$(date -u -d '1 minutes ago' '+%Y-%m-%dT%H:%M')
LMD=$(echo $LMDT |cut -d"T" -f1)

MASINSTANCE="masinst1"
MASNS="mas_${MASINSTANCE}_core"
LOGFILE="/var/log/rsyslog/${MASINSTANCE}/mas-core-${LMD}.log"


if [ ! -f "$LOGFILE" ]; then 
    # echo "$LOGFILE does not exist!"
    echo "# HELP mas_core_request MAS Core Http Request"
    echo "# TYPE mas_core_request gauge"
    echo "mas_core_request{mas_namespace=\"${MASNS}\",service=\"total\"} -1"
    exit
fi
tmpfile=$(mktemp)
grep "$LMDT" "$LOGFILE" | grep -v kubernetes > "${tmpfile}"

#stats for mas_core namespace in total
rc=$(wc -l < "${tmpfile}")
echo "# HELP mas_core_request MAS Core Http Request"
echo "# TYPE mas_core_request gauge"
echo "mas_core_request{mas_namespace=\"${MASNS}\",service=\"total\"} ${rc}"

# stats for each service
CORESERVICELIST=("coreapi" "coreidp" "admin-dashboard" "coreidp-login" "homepage" "licensing-mediator")

for SERVICE in "${CORESERVICELIST[@]}"
do
    rc=$(grep -c "${SERVICE}:${SERVICE}" "${tmpfile}")
    echo "mas_core_request{mas_namespace=\"${MASNS}\",service=\"${SERVICE}\"} ${rc}"

    #break down by pods
    while read -r PODNAME
    do
        rc=$(grep "${SERVICE}:${SERVICE}" "${tmpfile}"|grep -c "${PODNAME}")
        echo "mas_core_request{mas_namespace=\"${MASNS}\", mas_pod=\"${PODNAME}\",service=\"${SERVICE}\"} ${rc}"
    done < <(grep "${SERVICE}:${SERVICE}" "${tmpfile}" |awk '{split($0, al, " "); split(al[7], rt, ":"); print rt[4]}'|sort |uniq)

done


#stats for mas_core namespace in total over 1 secs
rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 999) print $0}' "${tmpfile}"|wc -l)
echo "# HELP mas_core_request_over1sec Current number of requests handled by the service that is over 1 sec"
echo "# TYPE mas_core_request_over1sec gauge"
echo "mas_core_request_over1sec{mas_namespace=\"${MASNS}\",service=\"total\"} ${rc}"

for SERVICE in "${CORESERVICELIST[@]}"
do
    # stats for mas_${service}_request_over1sec
    rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 999) print $0}' "${tmpfile}"|grep -c "${SERVICE}:${SERVICE}")
    echo "mas_core_request_over1sec{mas_namespace=\"${MASNS}\",service=\"${SERVICE}\"} ${rc}"

    #break down by pods
    while read -r PODNAME
    do
        # stats for mas_${service}_request_over1sec
        rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 999) print $0}' "${tmpfile}"|grep "${SERVICE}:${SERVICE}"|grep -c "${PODNAME}")
        echo "mas_core_request_over1sec{mas_namespace=\"${MASNS}\", mas_pod=\"${PODNAME}\",service=\"${SERVICE}\"} ${rc}"
    done < <(grep "${SERVICE}:${SERVICE}" "${tmpfile}" |awk '{split($0, al, " "); split(al[7], rt, ":"); print rt[4]}'|sort |uniq)

done


# remove tmpfile
rm -rf "${tmpfile}"