#!/bin/bash

# set the last minute date time
LMDT=$(date -u -d '1 minutes ago' '+%Y-%m-%dT%H:%M')
LMD=$(echo $LMDT |cut -d"T" -f1)

MASINSTANCE="masinst1"
MASNS="mas_${MASINSTANCE}_manage"
LOGFILE="/var/log/rsyslog/${MASINSTANCE}/mas-manage-${LMD}.log"

if [ ! -f "$LOGFILE" ]; then 
    # echo "$LOGFILE does not exist!"
    echo "# HELP mas_manage_request MAS Manage Http Request"
    echo "# TYPE mas_manage_request gauge"
    echo "mas_manage_request{mas_namespace=\"${MASNS}\",service=\"total\"} -1"
    exit
fi
tmpfile=$(mktemp)
grep "$LMDT" "$LOGFILE" |grep -v kubernetes > "${tmpfile}"

#stats for mas_manage namespace in total
rc=$(wc -l < "${tmpfile}")
echo "# HELP mas_manage_request MAS Manage Http Request"
echo "# TYPE mas_manage_request gauge"
echo "mas_manage_request{mas_namespace=\"${MASNS}\",service=\"total\"} ${rc}"

# stats for each service
MANAGESERVICELIST=("ui-" "mea-" "cron-" "foundation-" "report-" "jms-")

for SERVICE in "${MANAGESERVICELIST[@]}"
do
    # promethus metric name rule does not support "-". Replace with "_"
    SV="${SERVICE//-/}"

    # stats for mas_manage_request in total
    rc=$(grep -c "${SERVICE}" "${tmpfile}")
    echo "mas_manage_request{mas_namespace=\"${MASNS}\",service=\"${SV}\"} ${rc}"

    #break down by pods
    while read -r PODNAME
    do
        # stats for mas_manage_request in total per service
        rc=$(grep "${SERVICE}" "${tmpfile}"|grep -c "${PODNAME}")
        echo "mas_manage_request{mas_namespace=\"${MASNS}\", mas_pod=\"${PODNAME}\",service=\"${SV}\"} ${rc}"
    done < <(grep "${SERVICE}" "${tmpfile}" |awk '{split($0, al, " "); split(al[7], rt, ":"); print rt[4]}'|sort |uniq)

done

#stats for mas_manage namespace in total over 2 secs (for all requests)
rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 1999) print $0}' "${tmpfile}"|wc -l)
echo "# HELP mas_manage_request_over2sec MAS Manage Http Request Over 2 seconds"
echo "# TYPE mas_manage_request_over2sec gauge"
echo "mas_manage_request_over2sec{mas_namespace=\"${MASNS}\",service=\"total\"} ${rc}"

for SERVICE in "${MANAGESERVICELIST[@]}"
do
    # promethus metric name rule does not support "-". Replace with "_"
    SV="${SERVICE//-/}"

    # stats for mas_manage_request_over2sec per service
    rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 1999) print $0}' "${tmpfile}"|grep -c "${SERVICE}")
    echo "mas_manage_request_over2sec{mas_namespace=\"${MASNS}\",service=\"${SV}\"} ${rc}"

    #break down by pods
    while read -r PODNAME
    do
        # stats for mas_manage_request_over2sec per pod
        rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); if (rt[5] > 1999) print $0}' "${tmpfile}"|grep "${SERVICE}"|grep -c "${PODNAME}")
        echo "mas_manage_request_over2sec{mas_namespace=\"${MASNS}\", mas_pod=\"${PODNAME}\",service=\"${SV}\"} ${rc}"
    done < <(grep "${SERVICE}" "${tmpfile}" |awk '{split($0, al, " "); split(al[7], rt, ":"); print rt[4]}'|sort |uniq)

done

#stats for the response time of the requests in mas_manage namespace
rc=$(awk '{split($0, al, " "); split(al[8], rt, "/"); print rt[5]}' "${tmpfile}"|awk '{sum += $1} END {print sum}')
echo "# HELP mas_manage_responsetime MAS Manage Http Request Over 2 seconds"
echo "# TYPE mas_manage_responsetime gauge"
echo "mas_manage_responsetime{mas_namespace=\"${MASNS}\",service=\"total\"} ${rc}"

for SERVICE in "${MANAGESERVICELIST[@]}"
do
    # promethus metric name rule does not support "-". Replace with "_"
    SV="${SERVICE//-/}"

    # stats for mas_manage_responsetime per service
    rc=$(grep "${SERVICE}" "${tmpfile}" | awk '{split($0, al, " "); split(al[8], rt, "/"); print rt[5]}'|awk '{sum += $1} END {print sum}')
    if [ -n "${rc}" ]; then 
        echo "mas_manage_responsetime{mas_namespace=\"${MASNS}\",service=\"${SERVICE}\"} ${rc}"
    else
        echo "mas_manage_responsetime{mas_namespace=\"${MASNS}\",service=\"${SERVICE}\"} 0"
    fi

    #break down by pods
    while read -r PODNAME
    do
        # stats for mas_manage_responsetime per pod
        rc=$(grep "${SERVICE}" "${tmpfile}" | grep "${PODNAME}" | awk '{split($0, al, " "); split(al[8], rt, "/"); print rt[5]}'|awk '{sum += $1} END {print sum}')
        echo "mas_manage_responsetime{mas_namespace=\"${MASNS}\", mas_pod=\"${PODNAME}\",service=\"${SV}\"} ${rc}"
    done < <(grep "${SERVICE}" "${tmpfile}" |awk '{split($0, al, " "); split(al[7], rt, ":"); print rt[4]}'|sort |uniq)

done


# remove tmpfile
rm -rf "${tmpfile}"